/**
 * TACoS
 * Time Attendance Coordination on Slack
 *
 * The version of the OpenAPI document: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Error
import org.openapitools.client.model.LoginRequest
import org.openapitools.client.model.LoginResponse
import org.openapitools.client.model.SignupRequest
import org.openapitools.client.model.SignupResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AuthApi {

  def apply(baseUrl: String = "https://example.com") = new AuthApi(baseUrl)
}

class AuthApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : LoginResponse (Successful operation)
   *   code 400 : Error (Invalid input)
   * 
   * @param loginRequest 
   */
  def login(loginRequest: Option[LoginRequest] = None): ApiRequest[LoginResponse] =
    ApiRequest[LoginResponse](ApiMethods.POST, baseUrl, "/auth/login", "application/json")
      .withBody(loginRequest)
      .withSuccessResponse[LoginResponse](200)
      .withErrorResponse[Error](400)
      

  /**
   * Expected answers:
   *   code 200 : SignupResponse (Successful operation)
   *   code 400 : Error (Invalid input)
   * 
   * @param signupRequest 
   */
  def signup(signupRequest: Option[SignupRequest] = None): ApiRequest[SignupResponse] =
    ApiRequest[SignupResponse](ApiMethods.POST, baseUrl, "/auth/signup", "application/json")
      .withBody(signupRequest)
      .withSuccessResponse[SignupResponse](200)
      .withErrorResponse[Error](400)
      



}

